.ant-segmented {
    .ant-segmented-item-label {
        padding: 8px;
        line-height: 1;
    }
}

.ant-tabs-nav-list {
    width: 100%;
}

.ant-tabs .ant-tabs-tab {
    flex: 1;
    text-align: center;
    padding-left: 8px;
}

